
    body {
      background: #f0f0f0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;
      height: 100vh;
      border: solid 1px;
      font-family: Arial;
    }
    div{
      border: solid 1px;
    }
    .karta {
      height: 15em;
      width: 15em;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 0 0 5px transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      transition: transform 0.3s ease, box-shadow 0.2s ease;
      user-select: none;
      touch-action: pan-y;
      text-align: center;
      flex-direction: column;
    }
@media (max-aspect-ratio: 1/1) {
  body{
    
      font-size: 0.75em;
  }
    .karta {
      height: 90vw;
      width: 90vw;
    }
}
    .around{
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5em;
      flex: 40;
    }
    nav{
      flex: 10;
      display: flex;
      font-size: 2em;
    }
    nav div{
        flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .percent{
      flex: 2;
      border-color: darkgreen;
      
    }
    .lekcovna{
        z-index: 10;
        position: fixed;
        width: 50vw;
        height: 80vh;
        top: 10vh;
        left: 25vw;
        border: solid;
        background-color: lightcyan;
        overflow-y: scroll;
        display: var(--leave);
        flex-direction: column;
    }
    .lekcovna .lekcolista{
        height: 5vh;
        display: flex;
        justify-content: right;
    }
    .listakriz{
      width: 5vh;
      height: 5vh;
      justify-content: center;
      align-items: center;
      display: flex;
      font-size: 5vh;
    }
    .showerlista{
        flex: 1;
        flex-direction: column;
        border: none;
    }
    .showerlista div{
        border: solid 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2em;
        padding: 8px;
        background-color: rgb(255, 245, 158);
        
    }
    nav div{
      flex-direction: column;
    }
    
@media (max-aspect-ratio: 1/1) {
    .lekcovna{
        width: 85vw;
        height: 80vh;
        top: 10vh;
        left: 7.5vw;
    }
}
